<div class="container">
  <h1>BLOG TAK JADI</h1>

<form action="/posts/<%=params[:id]%>" method = "post">
  <p>Change post no.<%= @post.id %></p><br>
  <input type='hidden' name='_method' value='put'>
  <input type="text" name="post[title]" value='<%= @post.title %>'><br><br>

  <textarea name="post[body]" ><%= @post.body %></textarea><br><br>

  <br><br>

  <input type="submit" value="UPDATE"><br>
</form>


</div>
